<!DOCTYPE html>
<html>
<%

function timeBefore(timestamp) {
    var now = new Date(Date.now() - 9*1000*60*60);
    var _date = new Date(timestamp);
    var minus;
    if (now.getFullYear() > _date.getFullYear()) {
        minus = now.getFullYear() - _date.getFullYear();
        return minus + "년 전";
    } else if (now.getMonth() > _date.getMonth()) {
        minus = now.getMonth() - _date.getMonth();
        return minus + "달 전";
    } else if (now.getDate() > _date.getDate()) {
        minus = now.getDate() - _date.getDate();
        return minus + "일 전";
    } else if (now.getDate() == _date.getDate()) {
        var nowTime = now.getTime();
        var _datetime = _date.getTime();
        if (nowTime > _datetime) {
            sec = parseInt(nowTime - _datetime) / 1000;
            day = parseInt(sec / 60 / 60 / 24);
            sec = (sec - (day * 60 * 60 * 24));
            hour = parseInt(sec / 60 / 60);
            sec = (sec - (hour * 60 * 60));
            min = parseInt(sec / 60);
            sec = parseInt(sec - (min * 60));
            if (hour > 0) {
                return hour + "시간 전";
            } else if (min > 0) {
                return min + "분 전";
            } else if (sec > 0) {
                return sec + "초 전";
            }
        }
    }
    return '방금 전';
}

const result_text = {
    0: 'NOT SCANNED YET',
    1: 'BEING SCAN',
    2: 'ERROR',
    3: 'ERROR3',
    10: 'COMPLETE'
}

%>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            margin-top: 10px;
        }

        body>div {
            text-align: center;
            margin-top: 70px;
        }

        .page-navigation {
            position: absolute;
            top: 80px;
            left: 70px;
        }

        .convert-sig {
            position: absolute;
            left: 10px;
            top: 80px;
        }

        .search-box {
            position: absolute;
            right: 15px;
        }
    </style>
</head>

<body>
    <%
        var params = '';
        if (sig) params = params + '&sig=1'; 
        if (search_str) params = params + '&search_str=' + encodeURI(search_str); 
        if (search_type) params = params + '&search_type=' + encodeURI(search_type); 
    %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/?page=1">Analyzer</a>
        <form method="GET" action="/" class="search-box form-inline my-2 my-lg-0">
            <div class="input-group-prepend">
                <select class="custom-select" id="inputGroupSelect01" name="search_type">
                    <option value="module_name" selected>Module Name</option>
                    <option value="result">Result</option>
                </select>
            </div>
            <input type="hidden" name="page" value="1">
            <input type="hidden" name="sig" value="<%= sig ? '1' : '' %>">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search_str"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <% if (sig) { %>
    <button onclick="location='/?page=1';" type="button" class="convert-sig btn btn-primary"><i
            class="fa fa-star"></i></button>
    <% } else { %>
    <button onclick="location='/?page=1&sig=1';" type="button" class="convert-sig btn btn-secondary"><i
            class="fa fa-star"></i></button>
    <% } %>
    <nav class="page-navigation" aria-label="...">
        <ul class="pagination">
            <li class="page-item<%= current_page <= 10 ? ' disabled' : '' %>">
                <a class="page-link"
                    href="/?page=<%= parseInt((current_page - 1) / 10) * 10 - 9 %><%= params %>">&laquo;</a>
            </li>
            <% for (let i = 1; i <= 10; ++i) {
                var pag = parseInt((current_page - 1) / 10) * 10 + i;
            %>
            <li class="page-item<%= pag == current_page ? ' active' : '' %>"><a class="page-link"
                    href="/?page=<%= pag %><%= params %>"><%= pag %></a></li>
            <% } %>
            <li class="page-item">
                <a class="page-link"
                    href="/?page=<%= parseInt((current_page - 1) / 10) * 10 + 11 %><%= params %>">&raquo;</a>
            </li>
        </ul>
    </nav>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">result</th>
                    <th scope="col">exec_time</th>
                    <th scope="col">time</th>
                    <th scope="col">pc</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                <% for (let row of result) { %><tr>
                    <th scope="row"><%= row.id %></th>
                    <td><%= row.name %></td>
                    <td>
                        <pre><%= row.result.trim() %></pre>
                    </td>
                    <td><%= row.status > 1 ? row.execution_time + '초' : '' %></td>
                    <td><%= row.status > 1 ? timeBefore(row.scantime) : '' %></td>
                    <td><%= row.status ? row.cpu : '' %></td>
                    <td><%= row.status ? result_text[row.status] : '' %></td>
                </tr><% } %>
            </tbody>
        </table>
    </div>
</body>

</html>